@use "./brands.scss" as brands;

.brandIconButton {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  padding: 0.7rem;
  margin: 0.2rem;
  transition: background-color 0.28s ease-in-out;
  transition: border-radius 0.28s ease-in-out;
}

.brandIconButton:hover {
  border-radius: 30%;
}

.gitHub {
  color: white;
  background-color: brands.$gitHub;
}

.gitHub:hover {
  background-color: brands.$gitHub-hover;
}

.linkedin {
  color: white;
  background-color: brands.$linkedin;
}

.linkedin:hover {
  background-color: brands.$linkedin-hover;
}

.gmail {
    color: white;
    background-color: brands.$gmail;
}

.gmail:hover {
  background-color: brands.$gmail-hover;
}

.twitter {
    color: white;
    background-color: brands.$twitter;
}

.twitter:hover {
  background-color: brands.$twitter-hover;
}