@use "./m3.scss" as m3;
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Manrope", sans-serif;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mainContainer {
  width: 100%;
}

.lightSurfaceBg {
  background-color: m3.$light-surface;
}

.darkSurfaceBg {
  background-color: m3.$dark-surface;
}

.lightOnSurface {
  color: m3.$light-on-surface;
}

.darkOnSurface {
  color: m3.$dark-on-surface;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
