@use "./m3.scss" as m3;

.mainContainer {
  width: 100%;
}

.banner {
    display: flex;
    justify-content: space-around;
    margin: 0 1rem;
    margin-top: 7rem;
    border-radius: 4rem;
    padding: 0 2rem;
    background-repeat: no-repeat;
    background-position: 0 50%;
    background-size: cover;
}

.lightBanner {
    background-image: m3.$banner17;
}

.darkBanner {
    background-image: m3.$banner3 !important;
}

.bannerContainer {
    padding: 3rem 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.leftPart {
    display: flex;
    padding: 1rem;
    flex-direction: column;
    justify-content: center;
    flex: 3;
}

.rightPart {
    display: none;
    justify-content: center;
    align-items: center;
    flex: 4;
}

.brandList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/* Smartphones (portrait) ----------- */
@media only screen
and (max-width : 320px) {

}

@media only screen
and (min-width : 768px) {
    .rightPart {
        display: inline-flex;
    }

    .banner {
        margin: 2rem;
        margin-top: 7rem;
    }
}
 
/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-width : 320px)
and (max-width : 480px) {
/* Styles */
}
 
/* Smartphones (landscape) ----------- */
@media only screen
and (min-width : 321px) {
/* Styles */
}
 
/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-width : 768px)
and (max-width : 1024px) {
/* Styles */
}
 
/* iPads (landscape) ----------- */
@media only screen
and (min-width : 768px)
and (max-width : 1024px)
and (orientation : landscape) {
/* Styles */
}
 
/* iPads (portrait) ----------- */
@media only screen
and (min-width : 768px)
and (max-width : 1024px)
and (orientation : portrait) {
}
 
/* Desktops and laptops ----------- */
@media only screen
and (min-width : 1224px) {
}
 
/* Large screens ----------- */
@media only screen
and (min-width : 1824px) {
    .mainContainer {
        max-width: 1824px;
    }
}
 
/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}
