$light-primary: rgba(127, 72, 147, 1);
$light-on-primary: rgba(255, 255, 255, 1);
$light-primary-container: rgba(250, 215, 255, 1);
$light-on-primary-container: rgba(50, 0, 71, 1);
$light-secondary: rgba(105, 89, 108, 1);
$light-on-secondary: rgba(255, 255, 255, 1);
$light-secondary-container: rgba(242, 220, 244, 1);
$light-on-secondary-container: rgba(36, 23, 40, 1);
$light-tertiary: rgba(130, 82, 79, 1);
$light-on-tertiary: rgba(255, 255, 255, 1);
$light-tertiary-container: rgba(255, 218, 214, 1);
$light-on-tertiary-container: rgba(50, 17, 16, 1);
$light-error: rgba(186, 27, 27, 1);
$light-error-container: rgba(255, 218, 212, 1);
$light-on-error: rgba(255, 255, 255, 1);
$light-on-error-container: rgba(65, 0, 1, 1);
$light-background: rgba(252, 252, 252, 1);
$light-on-background: rgba(30, 26, 30, 1);
$light-surface: rgba(252, 252, 252, 1);
$light-on-surface: rgba(30, 26, 30, 1);
$light-surface-variant: rgba(235, 223, 233, 1);
$light-on-surface-variant: rgba(76, 68, 77, 1);
$light-outline: rgba(125, 116, 125, 1);
$light-inverse-on-surface: rgba(247, 239, 243, 1);
$light-inverse-surface: rgba(51, 47, 51, 1);
$light-inverse-primary: rgba(239, 177, 255, 1);
$light-shadow: rgba(0, 0, 0, 1);
$dark-primary: rgba(239, 177, 255, 1);
$dark-on-primary: rgba(76, 22, 97, 1);
$dark-primary-container: rgba(101, 47, 122, 1);
$dark-on-primary-container: rgba(250, 215, 255, 1);
$dark-secondary: rgba(212, 192, 214, 1);
$dark-on-secondary: rgba(57, 44, 61, 1);
$dark-secondary-container: rgba(81, 66, 85, 1);
$dark-on-secondary-container: rgba(242, 220, 244, 1);
$dark-tertiary: rgba(245, 183, 179, 1);
$dark-on-tertiary: rgba(77, 37, 36, 1);
$dark-tertiary-container: rgba(102, 59, 57, 1);
$dark-on-tertiary-container: rgba(255, 218, 214, 1);
$dark-error: rgba(255, 180, 169, 1);
$dark-error-container: rgba(147, 0, 6, 1);
$dark-on-error: rgba(104, 0, 3, 1);
$dark-on-error-container: rgba(255, 218, 212, 1);
$dark-background: rgba(30, 26, 30, 1);
$dark-on-background: rgba(232, 224, 229, 1);
$dark-surface: rgba(30, 26, 30, 1);
$dark-on-surface: rgba(232, 224, 229, 1);
$dark-surface-variant: rgba(76, 68, 77, 1);
$dark-on-surface-variant: rgba(206, 195, 205, 1);
$dark-outline: rgba(152, 142, 152, 1);
$dark-inverse-on-surface: rgba(30, 26, 30, 1);
$dark-inverse-surface: rgba(232, 224, 229, 1);
$dark-inverse-primary: rgba(127, 72, 147, 1);
$dark-shadow: rgba(0, 0, 0, 1);

$display1: 4rem;
$display2: 3.563rem;
$display3: 2.813rem;
$headline1: 2.25rem;
$headline2: 2rem;
$headline3: 1.75rem;
$headline4: 1.5rem;
$headline5: 1.375rem;
$headline6: 1.125rem;
$subhead1: 1rem;
$subhead2: 0.875rem;
$button: 0.875rem;
$body1: 1rem;
$body2: 0.875rem;
$caption: 0.75rem;
$overline: 0.75rem;
$label-small: 0.688rem;
$display-large: 3.563rem;
$display-medium: 2.813rem;
$display-small: 2.25rem;
$headline-large: 2rem;
$headline-medium: 1.75rem;
$headline-small: 1.5rem;
$title-large: 1.375rem;
$title-medium: 1rem;
$title-small: 0.875rem;
$label-large: 0.875rem;
$label-medium: 0.75rem;
$label-small: 0.688rem;
$body-large: 1rem;
$body-medium: 0.875rem;
$body-small: 0.75rem;
