$banner1: url('https://lh3.googleusercontent.com/RY0vSndUvP4ErZbsZkO_QqlOpxED-KlgCb-bMZ5zHyMNSgMkNRU5p6UAflwDiwdvUr-nS7rLKjWtPHY0N3ypkVTq1gKLc2EWAYmskhp-Xg8CMe5Jw6c=w1200-rj');
$banner2:  url('https://lh3.googleusercontent.com/pV3YcBNB5cu0UASRZ7Fh6UWR4ZhQbMaJRVd9ywntCBsTZJBg7bI-gFP9TxbXZTHSKAhQDaQbIIGseHClN4OpC6iruXF9BDl3uYTJVJKet9cwj9vXwmw=w1200-rj');
$banner3: url(https://lh3.googleusercontent.com/DpkMGUmUdEnzp8tZ9YSvQQnqOfpBNJlgoYC9KKQWLVexeqqYe-nxuyuqIHklnKoRRKtIhpv0n69vwAT-h0d5jYFe3BAeNHIuTNMQIx5spS2jX96ecg=w1200-rj);
$banner4: url(https://lh3.googleusercontent.com/tI6pXRKwC0sFR8kZK8CxDHizn9LvD7l1UXZvqDkN260dO2cC0jkvbuuUsjEO6yOGtyOYHa5JGoHRc0G7zJrsMf-Q1E4nhndXEpD2mxMEDAMPTZPabSU=w1200-rj);
$banner5: url(https://lh3.googleusercontent.com/tI6pXRKwC0sFR8kZK8CxDHizn9LvD7l1UXZvqDkN260dO2cC0jkvbuuUsjEO6yOGtyOYHa5JGoHRc0G7zJrsMf-Q1E4nhndXEpD2mxMEDAMPTZPabSU=w1200-rj);
$banner6: url(https://lh3.googleusercontent.com/kNL5vMcZ1PUpwbxBbs4u7YMYX7lgZ0BOckUyqvfoRnaLMTc_3n2wRruOQfkI0INLOOBz5pA69gBeyBvKw-fbxdrVlpxIHjp7QfqPTVmS9vaH6ogG=w1200-rj);
$banner7: url(https://lh3.googleusercontent.com/s3YenUglMmA658eea7RVD2BsZTJjXUnAhqyaJdRxcx6MPuezpMwYBonZluTgP0A3pPXTbmy_YQ3gSI9qFrHfj-4-5BARf6WGnt3DrAoiZqeOmo6stQ=w1200-rj);
$banner8: url(https://lh3.googleusercontent.com/kcw7uo-1igMav0FIItFmpPDoMO-bah_IgeG8F-4UXFgP5sLWxw3muaJ8gy-bJ2u2MPXI62sPhdKzjwPleGNu_Y-0zvb888NoLaxnqkdW3GJK30GE_B4=w1200-rj);
$banner9: url(https://lh3.googleusercontent.com/oA4mzUmFdspT9049No6K9sXbqdJBdq0ygDoMnGUFMDjjs83W2Wl8AOdYywJ6Xe0cJk_gccCraWrXM8tTV1vEBLbXeNjsk3CKC812Q-CLna9ND8teXA=w1200-rj);
$banner10: url(https://lh3.googleusercontent.com/g9dhSgfQ_dGJwz1y2YxengzNhVmnqIzRw65asoCu90tMwJ8rWOhwYvrFBcKjZl-VUHUEJUhXg4v2yndZq4VXBWxZ0NtR_Qb_tpuhP-KwoS9Y85LuNA=w1200-rj);
$banner11: url(https://lh3.googleusercontent.com/ilG6zq-6yBfZv0MS6VchqFnY2w6TVZSgkdq6CvWicyM4bkRjZFQMP53ZMXPgUQmt7VOFJdFm_I1B7oKVTUEUiCpa4Ndmc7Z0I5MNQGXeIJUk7-Q82Ro=w1200-rj);
$banner12: url(https://lh3.googleusercontent.com/CxfyM2fqygwJnL5hkGdI5VmoDe_wSczIQ-B1MmPBQwJNfv_i4xhQbZBvNYBIi7MjE48x6BLkypcr88NaGX8NtredMQ0I2zDc2e-4TVlOtW9jP0TzvLY=w1200-rj);
$banner13: url(https://lh3.googleusercontent.com/Xe6e1R6uEF0KtBANoCTzNKvNVui9ZKGEEJhKxwmsuYhey2w_kFe8pU4gtjmQz9BqHygbhXskEsx0zyR0LICR_6UFeXip3Ym60Pt5R89jmyMkwAHjcGw=w1200-rj);
$banner14: url(https://lh3.googleusercontent.com/FJj2CMyKeHttwwoVXsouJ46-0GxOL6nimGXlpQ1-pnjZWEozsiVTVyfksvOdlJxHVoM6aHMN5nQbROo8SDdlA_uMSRSrLE3Xzg62OzphTvZJJuqMstc=w1200-rj);
$banner15: url(https://lh3.googleusercontent.com/ub5wVMOnulGY3WIYnoJwaRX1GqePk3AMD_o0Iog8RBbKedce3UD64E1T-we8eomKfEPNBQIA07Ccfn2q7UJCh1717RGrG_f5puhVKVbGDyIf3DpcATpZ=w1200-rj);
$banner16: url(https://lh3.googleusercontent.com/gIrG8AMwLDarHJMs68aoBE327dT_O74kyQe5rVddstbe_ndAk5PXSf0UrzCI1PbZlPDhLN0TFWuIb7CkpNuZghX4VRgX3wOjzNeg5axIz8ISTI5CZQ=w1200-rj);

$light-primary: rgba(127, 72, 147, 1);
$light-on-primary: rgba(255, 255, 255, 1);
$light-primary-container: rgba(250, 215, 255, 1);
$light-on-primary-container: rgba(50, 0, 71, 1);
$light-secondary: rgba(105, 89, 108, 1);
$light-on-secondary: rgba(255, 255, 255, 1);
$light-secondary-container: rgba(242, 220, 244, 1);
$light-on-secondary-container: rgba(36, 23, 40, 1);
$light-tertiary: rgba(130, 82, 79, 1);
$light-on-tertiary: rgba(255, 255, 255, 1);
$light-tertiary-container: rgba(255, 218, 214, 1);
$light-on-tertiary-container: rgba(50, 17, 16, 1);
$light-error: rgba(186, 27, 27, 1);
$light-error-container: rgba(255, 218, 212, 1);
$light-on-error: rgba(255, 255, 255, 1);
$light-on-error-container: rgba(65, 0, 1, 1);
$light-background: rgba(252, 252, 252, 1);
$light-on-background: rgba(30, 26, 30, 1);
$light-surface: rgba(252, 252, 252, 1);
$light-on-surface: rgba(30, 26, 30, 1);
$light-surface-variant: rgba(235, 223, 233, 1);
$light-on-surface-variant: rgba(76, 68, 77, 1);
$light-outline: rgba(125, 116, 125, 1);
$light-inverse-on-surface: rgba(247, 239, 243, 1);
$light-inverse-surface: rgba(51, 47, 51, 1);
$light-inverse-primary: rgba(239, 177, 255, 1);
$light-shadow: rgba(0, 0, 0, 1);
$dark-primary: rgba(239, 177, 255, 1);
$dark-on-primary: rgba(76, 22, 97, 1);
$dark-primary-container: rgba(101, 47, 122, 1);
$dark-on-primary-container: rgba(250, 215, 255, 1);
$dark-secondary: rgba(212, 192, 214, 1);
$dark-on-secondary: rgba(57, 44, 61, 1);
$dark-secondary-container: rgba(81, 66, 85, 1);
$dark-on-secondary-container: rgba(242, 220, 244, 1);
$dark-tertiary: rgba(245, 183, 179, 1);
$dark-on-tertiary: rgba(77, 37, 36, 1);
$dark-tertiary-container: rgba(102, 59, 57, 1);
$dark-on-tertiary-container: rgba(255, 218, 214, 1);
$dark-error: rgba(255, 180, 169, 1);
$dark-error-container: rgba(147, 0, 6, 1);
$dark-on-error: rgba(104, 0, 3, 1);
$dark-on-error-container: rgba(255, 218, 212, 1);
$dark-background: rgba(30, 26, 30, 1);
$dark-on-background: rgba(232, 224, 229, 1);
$dark-surface: rgba(30, 26, 30, 1);
$dark-on-surface: rgba(232, 224, 229, 1);
$dark-surface-variant: rgba(76, 68, 77, 1);
$dark-on-surface-variant: rgba(206, 195, 205, 1);
$dark-outline: rgba(152, 142, 152, 1);
$dark-inverse-on-surface: rgba(30, 26, 30, 1);
$dark-inverse-surface: rgba(232, 224, 229, 1);
$dark-inverse-primary: rgba(127, 72, 147, 1);
$dark-shadow: rgba(0, 0, 0, 1);

$display1: 4rem;
$display2: 3.563rem;
$display3: 2.813rem;
$headline1: 2.25rem;
$headline2: 2rem;
$headline3: 1.75rem;
$headline4: 1.5rem;
$headline5: 1.375rem;
$headline6: 1.125rem;
$subhead1: 1rem;
$subhead2: 0.875rem;
$button: 0.875rem;
$body1: 1rem;
$body2: 0.875rem;
$caption: 0.75rem;
$overline: 0.75rem;
$label-small: 0.688rem;
$display-large: 3.563rem;
$display-medium: 2.813rem;
$display-small: 2.25rem;
$headline-large: 2rem;
$headline-medium: 1.75rem;
$headline-small: 1.5rem;
$title-large: 1.375rem;
$title-medium: 1rem;
$title-small: 0.875rem;
$label-large: 0.875rem;
$label-medium: 0.75rem;
$body-large: 1rem;
$body-medium: 0.875rem;
$body-small: 0.75rem;

$ref-primary-primary100: rgba(255, 255, 255, 1);
$ref-primary-primary99: rgba(252, 252, 252, 1);
$ref-primary-primary95: rgba(255, 234, 255, 1);
$ref-primary-primary90: rgba(250, 215, 255, 1);
$ref-primary-primary80: rgba(239, 177, 255, 1);
$ref-primary-primary70: rgba(210, 148, 230, 1);
$ref-primary-primary60: rgba(181, 122, 201, 1);
$ref-primary-primary50: rgba(154, 97, 174, 1);
$ref-primary-primary40: rgba(127, 72, 147, 1);
$ref-primary-primary30: rgba(101, 47, 122, 1);
$ref-primary-primary20: rgba(76, 22, 97, 1);
$ref-primary-primary10: rgba(50, 0, 71, 1);
$ref-primary-primary5: rgba(25, 0, 55, 1);
$ref-primary-primary0: rgba(0, 0, 0, 1);
$ref-secondary-secondary100: rgba(255, 255, 255, 1);
$ref-secondary-secondary99: rgba(252, 252, 252, 1);
$ref-secondary-secondary95: rgba(255, 235, 255, 1);
$ref-secondary-secondary90: rgba(242, 220, 244, 1);
$ref-secondary-secondary80: rgba(212, 192, 214, 1);
$ref-secondary-secondary70: rgba(185, 165, 187, 1);
$ref-secondary-secondary60: rgba(157, 139, 160, 1);
$ref-secondary-secondary50: rgba(131, 114, 134, 1);
$ref-secondary-secondary40: rgba(105, 89, 108, 1);
$ref-secondary-secondary30: rgba(81, 66, 85, 1);
$ref-secondary-secondary20: rgba(57, 44, 61, 1);
$ref-secondary-secondary10: rgba(36, 23, 40, 1);
$ref-secondary-secondary0: rgba(0, 0, 0, 1);
$ref-tertiary-tertiary100: rgba(255, 255, 255, 1);
$ref-tertiary-tertiary99: rgba(252, 252, 252, 1);
$ref-tertiary-tertiary95: rgba(255, 237, 234, 1);
$ref-tertiary-tertiary90: rgba(255, 218, 214, 1);
$ref-tertiary-tertiary80: rgba(245, 183, 179, 1);
$ref-tertiary-tertiary70: rgba(215, 156, 153, 1);
$ref-tertiary-tertiary60: rgba(186, 130, 127, 1);
$ref-tertiary-tertiary50: rgba(158, 106, 103, 1);
$ref-tertiary-tertiary40: rgba(130, 82, 79, 1);
$ref-tertiary-tertiary30: rgba(102, 59, 57, 1);
$ref-tertiary-tertiary20: rgba(77, 37, 36, 1);
$ref-tertiary-tertiary10: rgba(50, 17, 16, 1);
$ref-tertiary-tertiary0: rgba(0, 0, 0, 1);
$ref-neutral-neutral100: rgba(255, 255, 255, 1);
$ref-neutral-neutral99: rgba(252, 252, 252, 1);
$ref-neutral-neutral95: rgba(247, 239, 243, 1);
$ref-neutral-neutral90: rgba(232, 224, 229, 1);
$ref-neutral-neutral80: rgba(204, 197, 201, 1);
$ref-neutral-neutral70: rgba(176, 169, 174, 1);
$ref-neutral-neutral60: rgba(149, 143, 147, 1);
$ref-neutral-neutral50: rgba(123, 118, 121, 1);
$ref-neutral-neutral40: rgba(98, 93, 97, 1);
$ref-neutral-neutral30: rgba(74, 70, 73, 1);
$ref-neutral-neutral20: rgba(51, 47, 51, 1);
$ref-neutral-neutral10: rgba(30, 26, 30, 1);
$ref-neutral-neutral0: rgba(0, 0, 0, 1);
$ref-neutral-variant-neutral-variant100: rgba(255, 255, 255, 1);
$ref-neutral-variant-neutral-variant99: rgba(252, 252, 252, 1);
$ref-neutral-variant-neutral-variant95: rgba(249, 237, 247, 1);
$ref-neutral-variant-neutral-variant90: rgba(235, 223, 233, 1);
$ref-neutral-variant-neutral-variant80: rgba(206, 195, 205, 1);
$ref-neutral-variant-neutral-variant70: rgba(178, 168, 177, 1);
$ref-neutral-variant-neutral-variant60: rgba(152, 142, 152, 1);
$ref-neutral-variant-neutral-variant50: rgba(125, 116, 125, 1);
$ref-neutral-variant-neutral-variant40: rgba(100, 92, 100, 1);
$ref-neutral-variant-neutral-variant30: rgba(76, 68, 77, 1);
$ref-neutral-variant-neutral-variant20: rgba(53, 46, 54, 1);
$ref-neutral-variant-neutral-variant10: rgba(32, 25, 33, 1);
$ref-neutral-variant-neutral-variant0: rgba(0, 0, 0, 1);
$ref-error-error100: rgba(255, 255, 255, 1);
$ref-error-error99: rgba(252, 252, 252, 1);
$ref-error-error95: rgba(255, 237, 233, 1);
$ref-error-error90: rgba(255, 218, 212, 1);
$ref-error-error80: rgba(255, 180, 169, 1);
$ref-error-error70: rgba(255, 137, 122, 1);
$ref-error-error60: rgba(255, 84, 73, 1);
$ref-error-error50: rgba(221, 55, 48, 1);
$ref-error-error40: rgba(186, 27, 27, 1);
$ref-error-error30: rgba(147, 0, 6, 1);
$ref-error-error20: rgba(104, 0, 3, 1);
$ref-error-error10: rgba(65, 0, 1, 1);
$ref-error-error0: rgba(0, 0, 0, 1);

$source--seed: rgba(211, 181, 217, 1);
$source--primary: rgba(127, 72, 147, 1);
$source--secondary: rgba(105, 89, 108, 1);
$source--tertiary: rgba(130, 82, 79, 1);
$source--neutral: rgba(98, 93, 97, 1);
$source--neutral-variant: rgba(100, 92, 100, 1);
$source--error: rgba(186, 27, 27, 1);

$read-only-light-surface1: rgba(252, 252, 252, 1);
$read-only-light-surface2: rgba(252, 252, 252, 1);
$read-only-light-surface3: rgba(252, 252, 252, 1);
$read-only-light-surface4: rgba(252, 252, 252, 1);
$read-only-light-surface5: rgba(252, 252, 252, 1);
$read-only-light-black: rgba(0, 0, 0, 1);
$read-only-light-white: rgba(255, 255, 255, 1);
$read-only-light-primary-opacity-008: rgba(127, 72, 147, 0.07999999821186066);
$read-only-light-primary-opacity-012: rgba(127, 72, 147, 0.11999999731779099);
$read-only-light-primary-opacity-016: rgba(127, 72, 147, 0.1599999964237213);
$read-only-light-on-primary-opacity-008: rgba(255, 255, 255, 0.07999999821186066);
$read-only-light-on-primary-opacity-012: rgba(255, 255, 255, 0.11999999731779099);
$read-only-light-on-primary-opacity-016: rgba(255, 255, 255, 0.1599999964237213);
$read-only-light-primary-container-opacity-008: rgba(250, 215, 255, 0.07999999821186066);
$read-only-light-primary-container-opacity-012: rgba(250, 215, 255, 0.11999999731779099);
$read-only-light-primary-container-opacity-016: rgba(250, 215, 255, 0.1599999964237213);
$read-only-light-on-primary-container-opacity-008: rgba(50, 0, 71, 0.07999999821186066);
$read-only-light-on-primary-container-opacity-012: rgba(50, 0, 71, 0.11999999731779099);
$read-only-light-on-primary-container-opacity-016: rgba(50, 0, 71, 0.1599999964237213);
$read-only-light-secondary-opacity-008: rgba(105, 89, 108, 0.07999999821186066);
$read-only-light-secondary-opacity-012: rgba(105, 89, 108, 0.11999999731779099);
$read-only-light-secondary-opacity-016: rgba(105, 89, 108, 0.1599999964237213);
$read-only-light-on-secondary-opacity-008: rgba(255, 255, 255, 0.07999999821186066);
$read-only-light-on-secondary-opacity-012: rgba(255, 255, 255, 0.11999999731779099);
$read-only-light-on-secondary-opacity-016: rgba(255, 255, 255, 0.1599999964237213);
$read-only-light-secondary-container-opacity-008: rgba(242, 220, 244, 0.07999999821186066);
$read-only-light-secondary-container-opacity-012: rgba(242, 220, 244, 0.11999999731779099);
$read-only-light-secondary-container-opacity-016: rgba(242, 220, 244, 0.1599999964237213);
$read-only-light-on-secondary-container-opacity-008: rgba(36, 23, 40, 0.07999999821186066);
$read-only-light-on-secondary-container-opacity-012: rgba(36, 23, 40, 0.11999999731779099);
$read-only-light-on-secondary-container-opacity-016: rgba(36, 23, 40, 0.1599999964237213);
$read-only-light-tertiary-opacity-008: rgba(130, 82, 79, 0.07999999821186066);
$read-only-light-tertiary-opacity-012: rgba(130, 82, 79, 0.11999999731779099);
$read-only-light-tertiary-opacity-016: rgba(130, 82, 79, 0.1599999964237213);
$read-only-light-on-tertiary-opacity-008: rgba(255, 255, 255, 0.07999999821186066);
$read-only-light-on-tertiary-opacity-012: rgba(255, 255, 255, 0.11999999731779099);
$read-only-light-on-tertiary-opacity-016: rgba(255, 255, 255, 0.1599999964237213);
$read-only-light-tertiary-container-opacity-008: rgba(255, 218, 214, 0.07999999821186066);
$read-only-light-tertiary-container-opacity-012: rgba(255, 218, 214, 0.11999999731779099);
$read-only-light-tertiary-container-opacity-016: rgba(255, 218, 214, 0.1599999964237213);
$read-only-light-on-tertiary-container-opacity-008: rgba(50, 17, 16, 0.07999999821186066);
$read-only-light-on-tertiary-container-opacity-012: rgba(50, 17, 16, 0.11999999731779099);
$read-only-light-on-tertiary-container-opacity-016: rgba(50, 17, 16, 0.1599999964237213);
$read-only-light-error-opacity-008: rgba(186, 27, 27, 0.07999999821186066);
$read-only-light-error-opacity-012: rgba(186, 27, 27, 0.11999999731779099);
$read-only-light-error-opacity-016: rgba(186, 27, 27, 0.1599999964237213);
$read-only-light-error-container-opacity-008: rgba(255, 218, 212, 0.07999999821186066);
$read-only-light-error-container-opacity-012: rgba(255, 218, 212, 0.11999999731779099);
$read-only-light-error-container-opacity-016: rgba(255, 218, 212, 0.1599999964237213);
$read-only-light-on-error-opacity-008: rgba(255, 255, 255, 0.07999999821186066);
$read-only-light-on-error-opacity-012: rgba(255, 255, 255, 0.11999999731779099);
$read-only-light-on-error-opacity-016: rgba(255, 255, 255, 0.1599999964237213);
$read-only-light-on-error-container-opacity-008: rgba(65, 0, 1, 0.07999999821186066);
$read-only-light-on-error-container-opacity-012: rgba(65, 0, 1, 0.11999999731779099);
$read-only-light-on-error-container-opacity-016: rgba(65, 0, 1, 0.1599999964237213);
$read-only-light-background-opacity-008: rgba(252, 252, 252, 0.07999999821186066);
$read-only-light-background-opacity-012: rgba(252, 252, 252, 0.11999999731779099);
$read-only-light-background-opacity-016: rgba(252, 252, 252, 0.1599999964237213);
$read-only-light-on-background-opacity-008: rgba(30, 26, 30, 0.07999999821186066);
$read-only-light-on-background-opacity-012: rgba(30, 26, 30, 0.11999999731779099);
$read-only-light-on-background-opacity-016: rgba(30, 26, 30, 0.1599999964237213);
$read-only-light-surface-opacity-008: rgba(252, 252, 252, 0.07999999821186066);
$read-only-light-surface-opacity-012: rgba(252, 252, 252, 0.11999999731779099);
$read-only-light-surface-opacity-016: rgba(252, 252, 252, 0.1599999964237213);
$read-only-light-on-surface-opacity-008: rgba(30, 26, 30, 0.07999999821186066);
$read-only-light-on-surface-opacity-012: rgba(30, 26, 30, 0.11999999731779099);
$read-only-light-on-surface-opacity-016: rgba(30, 26, 30, 0.1599999964237213);
$read-only-light-surface-variant-opacity-008: rgba(235, 223, 233, 0.07999999821186066);
$read-only-light-surface-variant-opacity-012: rgba(235, 223, 233, 0.11999999731779099);
$read-only-light-surface-variant-opacity-016: rgba(235, 223, 233, 0.1599999964237213);
$read-only-light-on-surface-variant-opacity-008: rgba(76, 68, 77, 0.07999999821186066);
$read-only-light-on-surface-variant-opacity-012: rgba(76, 68, 77, 0.11999999731779099);
$read-only-light-on-surface-variant-opacity-016: rgba(76, 68, 77, 0.1599999964237213);
$read-only-light-outline-opacity-008: rgba(125, 116, 125, 0.07999999821186066);
$read-only-light-outline-opacity-012: rgba(125, 116, 125, 0.11999999731779099);
$read-only-light-outline-opacity-016: rgba(125, 116, 125, 0.1599999964237213);
$read-only-light-inverse-on-surface-opacity-008: rgba(247, 239, 243, 0.07999999821186066);
$read-only-light-inverse-on-surface-opacity-012: rgba(247, 239, 243, 0.11999999731779099);
$read-only-light-inverse-on-surface-opacity-016: rgba(247, 239, 243, 0.1599999964237213);
$read-only-light-inverse-surface-opacity-008: rgba(51, 47, 51, 0.07999999821186066);
$read-only-light-inverse-surface-opacity-012: rgba(51, 47, 51, 0.11999999731779099);
$read-only-light-inverse-surface-opacity-016: rgba(51, 47, 51, 0.1599999964237213);
$read-only-light-inverse-primary-opacity-008: rgba(239, 177, 255, 0.07999999821186066);
$read-only-light-inverse-primary-opacity-012: rgba(239, 177, 255, 0.11999999731779099);
$read-only-light-inverse-primary-opacity-016: rgba(239, 177, 255, 0.1599999964237213);
$read-only-light-shadow-opacity-008: rgba(0, 0, 0, 0.07999999821186066);
$read-only-light-shadow-opacity-012: rgba(0, 0, 0, 0.11999999731779099);
$read-only-light-shadow-opacity-016: rgba(0, 0, 0, 0.1599999964237213);
$read-only-dark-surface1: rgba(30, 26, 30, 1);
$read-only-dark-surface2: rgba(30, 26, 30, 1);
$read-only-dark-surface3: rgba(30, 26, 30, 1);
$read-only-dark-surface4: rgba(30, 26, 30, 1);
$read-only-dark-surface5: rgba(30, 26, 30, 1);
$read-only-dark-white: rgba(255, 255, 255, 1);
$read-only-dark-black: rgba(0, 0, 0, 1);
$read-only-dark-primary-opacity-008: rgba(239, 177, 255, 0.07999999821186066);
$read-only-dark-primary-opacity-012: rgba(239, 177, 255, 0.11999999731779099);
$read-only-dark-primary-opacity-016: rgba(239, 177, 255, 0.1599999964237213);
$read-only-dark-on-primary-opacity-008: rgba(76, 22, 97, 0.07999999821186066);
$read-only-dark-on-primary-opacity-012: rgba(76, 22, 97, 0.11999999731779099);
$read-only-dark-on-primary-opacity-016: rgba(76, 22, 97, 0.1599999964237213);
$read-only-dark-primary-container-opacity-008: rgba(101, 47, 122, 0.07999999821186066);
$read-only-dark-primary-container-opacity-012: rgba(101, 47, 122, 0.11999999731779099);
$read-only-dark-primary-container-opacity-016: rgba(101, 47, 122, 0.1599999964237213);
$read-only-dark-on-primary-container-opacity-008: rgba(250, 215, 255, 0.07999999821186066);
$read-only-dark-on-primary-container-opacity-012: rgba(250, 215, 255, 0.11999999731779099);
$read-only-dark-on-primary-container-opacity-016: rgba(250, 215, 255, 0.1599999964237213);
$read-only-dark-secondary-opacity-008: rgba(212, 192, 214, 0.07999999821186066);
$read-only-dark-secondary-opacity-012: rgba(212, 192, 214, 0.11999999731779099);
$read-only-dark-secondary-opacity-016: rgba(212, 192, 214, 0.1599999964237213);
$read-only-dark-on-secondary-opacity-008: rgba(57, 44, 61, 0.07999999821186066);
$read-only-dark-on-secondary-opacity-012: rgba(57, 44, 61, 0.11999999731779099);
$read-only-dark-on-secondary-opacity-016: rgba(57, 44, 61, 0.1599999964237213);
$read-only-dark-secondary-container-opacity-008: rgba(81, 66, 85, 0.07999999821186066);
$read-only-dark-secondary-container-opacity-012: rgba(81, 66, 85, 0.11999999731779099);
$read-only-dark-secondary-container-opacity-016: rgba(81, 66, 85, 0.1599999964237213);
$read-only-dark-on-secondary-container-opacity-008: rgba(242, 220, 244, 0.07999999821186066);
$read-only-dark-on-secondary-container-opacity-012: rgba(242, 220, 244, 0.11999999731779099);
$read-only-dark-on-secondary-container-opacity-016: rgba(242, 220, 244, 0.1599999964237213);
$read-only-dark-tertiary-opacity-008: rgba(245, 183, 179, 0.07999999821186066);
$read-only-dark-tertiary-opacity-012: rgba(245, 183, 179, 0.11999999731779099);
$read-only-dark-tertiary-opacity-016: rgba(245, 183, 179, 0.1599999964237213);
$read-only-dark-on-tertiary-opacity-008: rgba(77, 37, 36, 0.07999999821186066);
$read-only-dark-on-tertiary-opacity-012: rgba(77, 37, 36, 0.11999999731779099);
$read-only-dark-on-tertiary-opacity-016: rgba(77, 37, 36, 0.1599999964237213);
$read-only-dark-tertiary-container-opacity-008: rgba(102, 59, 57, 0.07999999821186066);
$read-only-dark-tertiary-container-opacity-012: rgba(102, 59, 57, 0.11999999731779099);
$read-only-dark-tertiary-container-opacity-016: rgba(102, 59, 57, 0.1599999964237213);
$read-only-dark-on-tertiary-container-opacity-008: rgba(255, 218, 214, 0.07999999821186066);
$read-only-dark-on-tertiary-container-opacity-012: rgba(255, 218, 214, 0.11999999731779099);
$read-only-dark-on-tertiary-container-opacity-016: rgba(255, 218, 214, 0.1599999964237213);
$read-only-dark-error-opacity-008: rgba(255, 180, 169, 0.07999999821186066);
$read-only-dark-error-opacity-012: rgba(255, 180, 169, 0.11999999731779099);
$read-only-dark-error-opacity-016: rgba(255, 180, 169, 0.1599999964237213);
$read-only-dark-error-container-opacity-008: rgba(147, 0, 6, 0.07999999821186066);
$read-only-dark-error-container-opacity-012: rgba(147, 0, 6, 0.11999999731779099);
$read-only-dark-error-container-opacity-016: rgba(147, 0, 6, 0.1599999964237213);
$read-only-dark-on-error-opacity-008: rgba(104, 0, 3, 0.07999999821186066);
$read-only-dark-on-error-opacity-012: rgba(104, 0, 3, 0.11999999731779099);
$read-only-dark-on-error-opacity-016: rgba(104, 0, 3, 0.1599999964237213);
$read-only-dark-on-error-container-opacity-008: rgba(255, 218, 212, 0.07999999821186066);
$read-only-dark-on-error-container-opacity-012: rgba(255, 218, 212, 0.11999999731779099);
$read-only-dark-on-error-container-opacity-016: rgba(255, 218, 212, 0.1599999964237213);
$read-only-dark-background-opacity-008: rgba(30, 26, 30, 0.07999999821186066);
$read-only-dark-background-opacity-012: rgba(30, 26, 30, 0.11999999731779099);
$read-only-dark-background-opacity-016: rgba(30, 26, 30, 0.1599999964237213);
$read-only-dark-on-background-opacity-008: rgba(232, 224, 229, 0.07999999821186066);
$read-only-dark-on-background-opacity-012: rgba(232, 224, 229, 0.11999999731779099);
$read-only-dark-on-background-opacity-016: rgba(232, 224, 229, 0.1599999964237213);
$read-only-dark-surface-opacity-008: rgba(30, 26, 30, 0.07999999821186066);
$read-only-dark-surface-opacity-012: rgba(30, 26, 30, 0.11999999731779099);
$read-only-dark-surface-opacity-016: rgba(30, 26, 30, 0.1599999964237213);
$read-only-dark-on-surface-opacity-008: rgba(232, 224, 229, 0.07999999821186066);
$read-only-dark-on-surface-opacity-012: rgba(232, 224, 229, 0.11999999731779099);
$read-only-dark-on-surface-opacity-016: rgba(232, 224, 229, 0.1599999964237213);
$read-only-dark-surface-variant-opacity-008: rgba(76, 68, 77, 0.07999999821186066);
$read-only-dark-surface-variant-opacity-012: rgba(76, 68, 77, 0.11999999731779099);
$read-only-dark-surface-variant-opacity-016: rgba(76, 68, 77, 0.1599999964237213);
$read-only-dark-on-surface-variant-opacity-008: rgba(206, 195, 205, 0.07999999821186066);
$read-only-dark-on-surface-variant-opacity-012: rgba(206, 195, 205, 0.11999999731779099);
$read-only-dark-on-surface-variant-opacity-016: rgba(206, 195, 205, 0.1599999964237213);
$read-only-dark-outline-opacity-008: rgba(152, 142, 152, 0.07999999821186066);
$read-only-dark-outline-opacity-012: rgba(152, 142, 152, 0.11999999731779099);
$read-only-dark-outline-opacity-016: rgba(152, 142, 152, 0.1599999964237213);
$read-only-dark-inverse-on-surface-opacity-008: rgba(30, 26, 30, 0.07999999821186066);
$read-only-dark-inverse-on-surface-opacity-012: rgba(30, 26, 30, 0.11999999731779099);
$read-only-dark-inverse-on-surface-opacity-016: rgba(30, 26, 30, 0.1599999964237213);
$read-only-dark-inverse-surface-opacity-008: rgba(232, 224, 229, 0.07999999821186066);
$read-only-dark-inverse-surface-opacity-012: rgba(232, 224, 229, 0.11999999731779099);
$read-only-dark-inverse-surface-opacity-016: rgba(232, 224, 229, 0.1599999964237213);
$read-only-dark-inverse-primary-opacity-008: rgba(127, 72, 147, 0.07999999821186066);
$read-only-dark-inverse-primary-opacity-012: rgba(127, 72, 147, 0.11999999731779099);
$read-only-dark-inverse-primary-opacity-016: rgba(127, 72, 147, 0.1599999964237213);
$read-only-dark-shadow-opacity-008: rgba(0, 0, 0, 0.07999999821186066);
$read-only-dark-shadow-opacity-012: rgba(0, 0, 0, 0.11999999731779099);
$read-only-dark-shadow-opacity-016: rgba(0, 0, 0, 0.1599999964237213);