@use "./m3.scss" as m3;

.headerContainer {
    display: flex;
    flex-direction: row;
    position: fixed;
    z-index: 4;
    top: 0;
    width: 100%;
    max-width: 100vw;
    justify-content: space-between;
    align-items: center;
}

.section {
    display: flex;
    align-items: center;
    flex-direction: row;
    min-width: 0px;
    padding: 0.5rem;
    z-index: 1;
}

.menu {
    display: block;
    padding: 0 0.2rem;
}

.rightSection {
    display: none;
    justify-content: flex-end;
}

.lightBg {
    background-color: m3.$ref-primary-primary95;
}

.darkBg {
    background-color: m3.$ref-secondary-secondary10;
}

.transparent {
    background-color: transparent;
}

@media only screen
and (max-width : 320px) {
    
}

@media only screen
and (min-width : 768px) {
    .rightSection {
        display: flex;
    }
}

@media only screen
and (min-width : 1824px) {
    .headerContainer {
        max-width: 1824px;
    }
}